header{
    display: flex;
    justify-content: space-between;
    background-color: #49AD3A;
    width: 100%;
    height: max-content;
    border-bottom: 1px solid black;
    align-items: center;
}

/* Fresh VEG ICON*/

.Fresh-Veg{
    cursor: pointer;
    display: flex;
    align-items: center;
}
.Logo{
    padding: 4px;
    padding-bottom: 0;
    width:40px;
    border-radius: 50%;
}
.Fresh-Veg > div > h2 {
    display: inline;
    margin: 0%;
    margin-left: 0.4em;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}


/* NAVIGATION ----------------------------------------------------------------*/

.Navigation{
    display: flex;
    align-items: center;
    margin-right: 1em;
}
nav{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 0.4em;
    border-bottom: 1px solid transparent;
}
nav:hover{
    border-color: black;
}
nav>img{
    width: 1rem;
    margin-left: 0.4em;
    padding-right:0.4em;
}
nav>h3{
    margin: 0;
}




/* Location --------------------------------------*/

.Summary{    
    width:75%;    
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 50px auto;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0px 0px 10px #a7a7a7;

    display: flex;
    justify-content: space-between;
    min-height: 500px;
}

.Cart-items{
    width: 50%;
    position: relative;
}

.Cart-items>h2{
    margin: 0;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #bbb;
}

.Items{
    display: flex;
    flex-direction: column;
}
.Items>h6{
    margin: 0;
    margin-bottom: 10px;
    font-size: smaller;
}

.Item-Card{
    border: 1px solid #bbb;
    border-radius: 0.5em;
    width: calc(100% - 1em);

    padding: 0.5em;

    margin-bottom: 10px;
}
.cardPreview{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Card-Pic{
    display: flex;
    align-items: center;
    font-size: medium;
}

.Card-Pic>img{
    width: 4rem;
    height: 4rem;
}
.Card-Pic>h3{
    margin: 0;
    padding-left: 0.2em;
}

.Quantity{
    display: flex;
    align-items: center;
}

.Quantity>img{
    width: 1.2rem;
    padding: 0 0.1em;
}
.Quantity>h3,
.Quantity>h4{
    margin: 0;
}

.Manage-Card{
    display: flex;
    height: max-content;
}
.Manage-Card>img{
    width: 1.5rem;
    margin-right: 0.5em;
    cursor: pointer;
}

.editItem{
    display: none;

    
    height: max-content;
    margin-top: 0.2em;
    padding-top: inherit;

    border-top: 1px solid #bbb;
}

.editWeight{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.customInput{
    width: 35%;
}

.customInput>p{
    margin: 0;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.customInput>input{
    width: calc(100% - 14px);
    padding: 5px;    
    margin-top: 5px;
    height: 1rem;
    outline: none;
    font-size: 0.8rem;
}
.customButton{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    column-gap: 5%;
    row-gap: 8px;
}
.customButton>button{
    width: 30%;
    height: min-content;
    padding: 5px;
    background-color: #49AD3A;
    color: white;
    font-weight: bold;
    border: 1px solid black;
}

.editAction{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: inherit;
}

.cancel{
    width: 100%;
    height: 2rem;
    border-radius: 0;
    background-color: rgb(205, 24, 24);
    color: white;
    border-bottom: 1px solid white;

}

.done{
    width: 100%;
    height: 2.5rem;
    border-radius: 0;
    background-color: #49AD3A;
    color: white;
}
/* ------------------------------- -      */


.Bill{
    width: calc(48% - 2em);
    background-image: url("/Styles/Fresh-Veg-Blur.png");
    background-position: center;
    background-size: cover;

    border-radius: inherit;
    padding: 1em;

    display: flex;
    flex-direction: column;

}
.Bill>div{
    padding-top: 2em;
    position: sticky;
    top: 0;
}

.Address-Card{
    width: calc(100% - 2em);
    background-color: white;
    padding: 1em;
    border-radius: 1em;
}
.Address{
    display: flex;
    flex-direction: column;
}

.Address>h4{
    margin: 0;
    border-bottom: 1px solid #bbb;
}

.User-details{
    display: flex;
    justify-content: space-between;

    margin-top: 1em;
}
.User-details>h3{
    margin: 0;
}
.User-details>div>h6{
    margin: 0;
    text-align: right;
    font-size: small;
}

.User-address{
    width: 100%;
}
.User-address>h5{
    margin-bottom: 0;
    font-size: larger;
}
.User-address>sub{
    margin: 0;
    font-size: medium;
}

/*-------------------------------*/

.Delivery-By{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Delivery-By>h4{
    margin: 20px 0 10px;
    color: white;
    font-size: large;
    border-bottom: 2px solid ;
}
.js-totalAmount{
    background-color: white;
    border-radius:1em;
    padding: 0.5em;
}

.Amount{
    display: flex;
    justify-content: space-between;
}

.Amount>h5{
    margin: 0;
    margin-bottom: 0.5em;
    font-size: medium;
}

.Amount:last-child{
    border-top: 1px solid black;
}

.Amount>h4{
    margin: 0.5em 0;
    font-size: large;
}

.Delivery-By>button{
    margin: 3em auto 1em;
    background-color: #49AD3A;
    color: white;
    font-weight: bold;
    font-size: large;
}

.Empty-cart{
    left: 10%;
    width: 80%;
    height: 80%;
    top: 15%;
    position: absolute;
    display: none;
}

@media (max-width:1000px) {
    .Summary{
        flex-direction: column;
    }
    .Cart-items{
        width: 100%;
        
    }
    .Bill{
        margin-top: 1em;
        width: calc(100% - 2em);
    }
    .Bill>div{
        padding-top: 1em;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .Address-Card{
        width: calc(49% - 2em);
        height: max-content;
        
    }
    .Address{
        font-size: small;
    }
    .User-address{
        font-size: small;
    }
    .Delivery-By{
        width: calc(49% - 1em);
    }
    .Delivery-By>h4{
        margin: 0;
        margin-bottom: 5px;
    }
    .Delivery-By>button{
        margin-top: 10px;
        font-size: medium;
        width: 50%;
        height: rem;
    }
    .Empty-cart{
        left: 20%;
        width: 60%;
        height: 200px;
        top: 80%;
    }
}

@media (max-width:900px){
    .Summary{
        width: 90%;
    }
    .User-details{
        flex-direction: column;
    }
    .User-details>div{
        margin-top: 1em;
    }
    .User-details>div>h6{
        text-align: left;
    }
    .Empty-cart{
        height: 180px;
        top: 60%;
    }
}

@media (max-width:650px){
    .Bill>div{
        flex-direction: column;
    }
    
    .Address-Card{
        width: calc(100% - 2em);
        height: max-content;
        margin-bottom: 2em;
    }
    .User-details{
        flex-direction: row
    }
    .User-details>div{
        margin-top: 0em;
    }
    .User-details>div>h6{
        text-align: right;
    }
    .Delivery-By{
        width: calc(100%);
    }
    .Delivery-By>h4{
        margin: 0;
        margin-bottom: 1em;
    }
    .Delivery-By>button{
        margin-top: 2em;
        font-size: medium;
        width: 50%;
        height: rem;
    }
    .Empty-cart{
        height: 140px;
        top: 100%;
    }
}

@media (max-width:450px) {
    .Manage-Card>img{
        width: 1.7rem;
        
    }
    .Manage-Card>img:first-child{
        margin-right: 0.8em;
    }
    .Card-Pic>h3{
        font-size: 0.9rem;
    }
    .Quantity>h3,h4{
        font-size: 0.9rem;
    }
    .Card-Pic>img{
        width: 3.5em;
        height: 3.5em;
    }

    .editItem{
        height: max-content;
    }

    .editWeight{
        flex-direction: column;
    }
    .customInput{
        width: 100%;
        margin-bottom: 1.5em;
    }
    .customInput>p{
        font-size: 1rem;
    }
    .customInput>input{
        height: 2rem;
        margin-top: 10px;
        width: calc(100% - 14px);
        font-size: 1rem;
        padding: 5px;
    }
    .customButton{
        width: 100%;                
        column-gap: 5%;
        row-gap: 20px;

        margin-bottom: 1.5em;
    }
    .customButton>button{
        width: 30%;
        padding: 10px;
        font-size: 1rem;

        font-weight: bold;
    }

    .editAction{
        flex-direction: row;
        width: 100%;
    }
    .cancel{
        height: 2.5rem;
        border: 0;
        font-size: larger;
    }
    .done{
        font-size: larger;
    }
    .Delivery-By>button{
        width: 90%;
    }
}
@media (max-width:400px){
    .User-details{
        flex-direction: column;
    }
    .User-details>div{
        margin-top: 1em;
    }
    .User-details>div>h6{
        text-align: left;
    }
    .Empty-cart{
        height: 100px;
        top: 100%;
    }
}