header{
    display: flex;
    justify-content: space-between;
    background-color: #49AD3A;
    width: 100%;
    height: max-content;
    border-bottom: 1px solid black;
    align-items: center;
}

/* Fresh VEG ICON*/

.Fresh-Veg{
    cursor: pointer;
    display: flex;
    align-items: center;
}
.Logo{
    padding: 4px;
    padding-bottom: 0;
    width: 3rem;
    border-radius: 50%;
}
.Fresh-Veg > div > h1 {
    display: inline;
    margin: 0%;
    margin-left: 0.1em;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

/* SEARCH BOX ----------------------------------------------------------*/

.Search{
    width: 100%;
    margin-top: 1.5em;
}


.Search >div{
    border: 1px solid black;
    border-radius: 2em;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;    
    align-items: center;
    background-color: white;
}

.Search >div> input{
    border: none;
    background-color: transparent;
    width: 100%;
    min-height: 30px;
    font-size: medium;
    font-weight: lighter;
    text-align: center;
}

.Search >div> input:focus{
    outline: none;
}

/* search is not available now  */
/* display = none */
.Search> div>button{
    display: none;
    cursor: pointer;
    border: none;
    width: 10%;
    background-color: transparent;
    padding: 0;
    
}
.Search> div>button>img{
    width: 50%;
    min-width: 20px;
}

/* NAVIGATION ----------------------------------------------------------------*/

.Navigation{
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    align-items: last baseline;
}
nav>div>div{
    display: flex;
    flex-direction: column;
    
    
}
nav > h1{
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    margin: 0;
    padding: 0 0.5em;
    font-size: xx-large;
    font-weight: lighter;
}
nav > div>h3 {

    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    margin: 0;
    padding: 0 0.5em;
}
#Location>h6,
#Location>h4{
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
    margin: 0;
    padding: 0;
    text-align: right;
}
#Location{
    visibility: hidden;
    margin-right: 1em;
}


.Navigation>img{
    cursor: pointer;
    width: 2rem;
    padding-right: 1em;
}

@media (min-width:890px){
    .Nav-Icon{
        display: none;
    }
}

/* Location --------------------------------------*/

.Location{      
    
    margin: 5px;
    text-align: end;
    padding-right: 5%;
}
.Location>div{
    display: inline;
    padding: 5px;
    background-color: aqua;
}

/* Media Queries */

@media (max-width:800px) {
    .Logo{
        width: 3rem;
    }
    .Fresh-Veg>div>h1{
        font-size: x-large;
    }
    #Location{
        font-size: small;
    }
    #User{
        font-size: x-large;
    }
    .Search >div> input{
        font-size: small;
    }
}

@media (max-width:600px) {
    .Fresh-Veg>div>h1{
        display: none;
    }
    .Logo{
        width: 2rem;
    }
    .Search>div{
        width: 80%;
    }
}
